---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I'm a Support Service Engineer, Retoucher, Social Media Manager and a Junior Web Developer.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tertiary"
      subtitle="2019 to 2023 at Nueva Ecija University of Science and Technology, Nueva Ecija, Philippines."
    />
    <TimeLineElement
      title="Secondary (SHS)"
      subtitle="2017 to 2019 at Gabaldon Vocational Agriculture High School, Nueva Ecija, Philippines."
    />
    <TimeLineElement
      title="Secondary (JHS)"
      subtitle="2013 to 2017 at Gabaldon Vocational Agriculture High School, Nueva Ecija, Philippines."
    />
    <TimeLineElement
      title="Primary"
      subtitle="2007 to 2013 at Gabaldon South Elementary School, Nueva Ecija, Philippines."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Social Media Manager/Retoiucher at Vera Equinox Technologies, Inc."
      subtitle="From August 08, 2023 to [End Date] at Vera Equinox Technologies, Inc., Cabanatuan City, Philippines."
    >
    I manage the social media pages in this company, where I create and edit images to be posted in our social media pages, I also manage the ADS in the Facebook Page.
    </TimeLineElement>
    <TimeLineElement
      title="Support Service Engineer at Vera Equinox Technologies, Inc."
      subtitle="From August 08, 2023 to [End Date] at Vera Equinox Technologies, Inc., Cabanatuan City, Philippines."
    >
    I also worked here as a support service engineer or a technician. Specifically, I know how to repair units such as printers,laptop, POS, etc. but with limited knowledge only.
    </TimeLineElement>
    <TimeLineElement
      title="Junior Web Developer at Vera Equinox Technologies, Inc."
      subtitle="From August 08, 2023 to [End Date] at Vera Equinox Technologies, Inc., Cabanatuan City, Philippines."
    >
    This is also my work here in this company, I contributed on the website for the product called <a href="https://bioscreator.com/"><b>BiosCreator</b></a>, I also worked on the website for the trainings that our company conducts called <a href="https://training.leakymosfet.com/"><b>Leaky Mosfet Training</b>.</a>
    </TimeLineElement>
    <TimeLineElement
    title="OJT Trainee"
    subtitle="From February 10, 2023 to May 07, 2023 at Local Government Unit - Gabaldon,  Nueva Ejia, Philippines."
  >
  From February 2023 to May 2023, I worked here as an OJT Trainee, specifically as an IT Staff. I edit pictures, encode in Excel, Word and created some Powerpoint Presentations for our supervisors.
  </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Retoucher</li>
    <li>Coding</li>
    <li>Service Engineer</li>
    <li>Graphic Design</li>
    <li>Network Setup</li>
    <li>Micosoft Office Apps</li>
    <li>Critical Thinking</li>
  </ul>
</BaseLayout>
