---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Social Media Manager Projects" sideBarActiveItemID="projects">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Websites I worked on</div>
  </div>

  <div class="mb-10 text-justify">
    Here are the websites I worked on.
<br>
   <p><b><a href="https://bioscreator.com/">www.bioscreator.com</a></b></p>
   <img src="files/bc.png">
<br><br>
   <p><b><a href="https://training.leakymosfet.com/">training.leakymosfet.com</a></b></p>
   <img src="files/lm.png">
  </div>




</BaseLayout>